body, html {
  height:100%;
  font-family: "Trebuchet MS";
}

#schedule-container {
  width:540px;
  min-height:60%;
  margin:0 auto;
  text-align:center;
  float:left;
  position:relative;
}

hr {
	position:absolute;
	width:436px;
	color: lightgrey;
	background-color: lightgrey;
	height: 0.9px;
	border:0px;
	left:72px;
}

#students-container {
  width:40%;
  height:100%;
  min-height: 100%
}

#student-list {
  border:1px solid black;
  width:100%;
  min-height:60%;
  min-width:150px;
}

#side-content {
  float:left;
  width:30%;
  height:80%;
  margin-left:2%;
}

#side-content h2 {
  text-align:center;
}

.time-column {
  width:200px;
  display:table-cell;
  height:30px;
  margin:0 auto;
  position:relative;
  left:13px;
}

.time-column p {
  margin-top:18px;
  margin-bottom: 15px;
  margin-right:5px;
  text-align:right;
}

table {
  margin:0 auto;
}
td {
  border:1px solid black;
  width:100px;
  height:37px;
}

h3 {
  font-size:18px;
}

#last-tc {
  padding-right:20px;
}

.block-box-blue {
  background:rgba(25,118,210,0.4);
}

.block-box-pink {
  background:rgba(255,64,129,0.4);
}

.block-box-purple {
  background:rgba(123,31,162,0.4);
}

.block-box-black {
  background:rgba(33,33,33,0.4);
}

.block-box-amber {
  background:rgba(255,160,0.4);
}

.block-box-green {
  background:rgba(76,175,80,0.4);
}

.block-box-red {
  background:rgba(211,47,47,0.4);
}

.block-box-brown {
  background:rgba(121,85,72,0.4);
}

/* Block Positioning Classes */

/* Part 1 - Length */
.block-half-hour {
  position:absolute;
  width: 54px;
  height: 20px;
  border-radius: 5px;
}

.block-hour {
  position:absolute;
  width: 54px;
  height: 37px;
  border-radius: 5px;
}

.block-hour-half {
  position:absolute;
  width: 54px;
  height: 56px;
  border-radius: 5px;
}

.block-two-hours {
  position:absolute;
  width: 54px;
  height: 76px;
  border-radius: 5px;
}

.block-two-half {
  position:absolute;
  width: 54px;
  height: 96px;
  border-radius: 5px;
}

.block-three-hours {
  position:absolute;
  width: 54px;
  height: 116px;
  border-radius: 5px;
}

.block-three-half {
  position:absolute;
  width: 54px;
  height: 136px;
  border-radius: 5px;
}

.block-four-hours {
  position:absolute;
  width: 54px;
  height: 154px;
  border-radius: 2px;
}

/* Part 2 - Day */

.monday {
	left:69px;
}

.tuesday {
	left:163px;
}

.wednesday {
	left:267px;
}

.thursday {
	left:372px;
}

.friday {
	left:469px;
}

/* Part 3 - Time */

.eight {
	top:76px;
}

.eightthirty {
	top:92px;
}

.nine {
	top:114px;
}

.ninethirty {
	top:132px;
}

.ten {
	top:152px;
}

.tenthirty {
	top:171px;
}

.eleven {
	top:190px;
}

.eleventhirty {
	top:209px;
}

.twelve {
	top:228px;
}

.twelvethirty {
	top:247px;
}

.thirteen {
	top:267px;
}

.thirteenthirty {
	top:286px;
}

.fourteen {
	top:306px;
}

.fourteenthirty {
	top:325px;
}

.fifteen {
	top:343px;
}

.fifteenthirty {
	top:362px;
}

.sixteen {
	top:382px;
}

.sixteenthirty {
	top:401px;
}

.seventeen {
	top:421px;
}

.seventeenthirty {
	top:439px;
}

.eightteen {
	top:457px;
}

.eightteenthirty {
	top:477px;
}

.ninteen {
	top:496px;
}

.ninteenthirty {
	top:515px;
}

.twenty {
	top:535px;
}

.twentythirty {
	top:553px;
}

.twentyone {
	top:574px;
}

.twentyonethirty {
	top:591px;
}

.twentytwo {
	top:610px;
}

.twentytwothirty {
	top:630px;
}

.twentythree {
	top:649px;
}

.twentythreethirty {
	top:669px;
}


/* Student Name List */

ul {
  list-style-type:none;
}