body, html {
  height:100%;
  font-family: "Trebuchet MS";
}

#schedule-container {
  width:540px;
  min-height:60%;
  margin:0 auto;
  text-align:center;
  float:left;
  position:relative;
}

#students-container {
  width:40%;
  height:100%;
  min-height: 100%
}

#student-list {
  border:1px solid black;
  width:100%;
  min-height:60%;
  min-width:150px;
}

#side-content {
  float:left;
  width:30%;
  height:80%;
  margin-left:2%;
}

#side-content h2 {
  text-align:center;
}

.time-column {
  width:200px;
  display:table-cell;
  height:600px;
  margin:0 auto;
}

.time-column p {
  margin-top:18px;
  margin-bottom: 15px;
  margin-right:5px;
  text-align:right;
}

table {
  margin:0 auto;
}
td {
  border:1px solid black;
  width:100px;
  height:37px;
}

h3 {
  font-size:18px;
}

#last-tc {
  padding-right:20px;
}

.block-box {
  background:rgba(255,61,127,0.4);
  border:1px solid rgb(48,48,48);
}

.block-box-blue {
  background:rgba(63,184,175,0.4);
  border:1px solid rgb(48,48,48);
}

.block-text {
  color:rgba(0,0,0,1);
}

/* POSITIONING WILL HAVE TO BE DEFINED ON LOAD OF BLOCK */
#block-hour {
  position:absolute;
  width: 74px;
  height: 38px;
  border-radius: 10px;
  left:68px;
  top:64px;
}

#block-hour p{
  padding:0;
  margin:0 auto;
}

#block-hour-half {
  position:absolute;
  width: 74px;
  height: 55px;
  border-radius: 10px;
  left:155px;
  top:138px;
}

#block-hour-half p{
  padding:0;
  margin:0 auto;
}

ul {
  list-style-type:none;
}
