body, html {
  height:100%;
  font-family: "Trebuchet MS";
}

#schedule-container {
  width:540px;
  min-height:60%;
  margin:0 auto;
  text-align:center;
  float:left;
  position:relative;
}

hr {
	position:absolute;
	width:436px;
	color: lightgrey;
	background-color: lightgrey;
	height: 0.9px;
	border:0px;
	left:72px;
}

#eightline {
	top:57px;
}

#nineline {
	top:93px;
}

#tenline {
	top:129px;
}

#elevenline {
	top:167px;
}

#twelveline {
	top:203px;
}

#thirteenline {
	top:240px;
}

#fourteenline {
	top:277px;
}

#fifteenline {
	top:312px;
}

#sixteenline {
	top:349px;
}

#seventeenline {
	top:386px;
}

#eightteenline {
	top:422px;
}

#nineteenline {
	top:459px;
}

#twentyline {
	top:495px;
}

#twentyoneline {
	top:532px;
}

#twentytwoline {
	top:567px;
}

#twentythreeline {
	top:604px;
}

#twentyfourline {
	top:641px;
}

#students-container {
  width:40%;
  height:100%;
  min-height: 100%
}

#student-list {
  border:1px solid black;
  width:100%;
  min-height:60%;
  min-width:150px;
}

#side-content {
  float:left;
  width:30%;
  height:80%;
  margin-left:2%;
}

#side-content h2 {
  text-align:center;
}

.time-column {
  width:200px;
  display:table-cell;
  height:600px;
  margin:0 auto;
}

.time-column p {
  margin-top:18px;
  margin-bottom: 15px;
  margin-right:5px;
  text-align:right;
}

table {
  margin:0 auto;
}
td {
  border:1px solid black;
  width:100px;
  height:37px;
}

h3 {
  font-size:18px;
}

#last-tc {
  padding-right:20px;
}

.block-box-blue {
  background:rgba(63,184,175,0.4);
  border:1px solid rgb(48,48,48);
  font-size:12px;
  
}

.block-text {
  color:rgba(0,0,0,1);
}

/* POSITIONING WILL HAVE TO BE DEFINED ON LOAD OF BLOCK */
.block-hour {
  position:absolute;
  width: 74px;
  height: 38px;
  border-radius: 10px;
}

.block-hour p{
  padding:0;
  margin:0 auto;
}

.block-hour-half {
  position:absolute;
  width: 74px;
  height: 55px;
  border-radius: 10px;
}

.block-hour-half p{
  padding:0;
  margin:0 auto;
}

ul {
  list-style-type:none;
}
